<h1> @questions </h1>

<%# <%= @questions.inspect%> 

<% @questions.each do |question| %>
  <h2><%= question.title %>
  <time datetime="<%= question.formatted_ctreated_at%>">
    <%= question.formatted_ctreated_at %> 
  </time>
  <h2><%= question.body %>
  <h2> =============== </h2>

  <br>
   <%= link_to 'Show', question_path(question) %>
   <%= link_to 'Edit', edit_question_path(question) %>
   <%= link_to 'Destroy', question_path(question), remote: true ,data: {method: :delete, confirm: 'Точно?'}, %>
<% end %>
